{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <script src="{% static 'macau/js/game.js' %}"></script>
    <div id="game_resign" class="game-dashboard">
            <form action="resign">
                <button type='submit'>Resign</button>
            </form>
        </div>
    <!--div id="game_full">-</div-->
    <div class="game-dashboard">
                <div id ="game_special_state"> </div>
                <div id="game_demands" class="empty"> </div>

    </div>
    <div id="game_top_cards" class="game-dashboard">-</div>
    <div id="game_submit_move" class="game-dashboard"><button onclick="submit_move(false)">Submit move</button></div>
    <div id="game_draw" class="game-dashboard"><button onclick="submit_move(true)">Draw</button></div>
    <div id="grid-game_players"></div>
    <div id="game_user_hand">
        <div id="game_user_cards"></div>
    </div>


{% endblock content %}