body{
    background:rgb(248, 212, 121);
}

header{
    background:rgb(199, 171, 140);
    width: 100vw;
    height:2.5vw;
}

#grid-main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.form-group{
    grid-column: 3;
    background: cadetblue;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    color: orange;
    border: cadetblue 0.5vw ridge;
}
.form-group button{
    margin-top:0.2vw;
}

#form-join_game, #form-start_game{
    margin-top:2vw;
}

#login-form{
    margin-top:10vw;
}

.user-card,.demand{
    float:left;
}

.user-card:hover{
    background:red;
}

.player, #game_user_hand{
    border: cadetblue 7px ridge;
}

.player_title{
    color: rgb(223, 96, 255);
    padding:0.25vw;
    text-align: center;
}

.player-card{ /*overwriting the original cards.css*/
    width: 1.65vw !important;
    height: 2.3vw !important;
    margin-left: -2vw !important; 
}


.player-card:first-child {
    margin-left:0.3vw!important; 
}

.game-dashboard{
    background: rgb(218, 141, 0);
    padding-top:1vw;
    padding-bottom: 1vw;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1vw;

}

.game-dashboard button{
    border-radius: 50%;
    font-size: 1vw;
    background: rgb(245, 211, 97);
    border: rgb(245, 203, 97) 0.01vw solid;
    height:2.5vw;
}

.game-dashboard button{
    width:10vw;
}
.game-active{
    background: rgb(55, 100, 100);
}

#game_user_hand{
    text-align: center;    
}

#game_user_cards{
    display: inline-block;
    margin-top: 1.75vw;
}
.card-toggled, .demand-toggled{
    background:red;
}

#game_demands{
    margin-top:0.3vw;
    border: 0.01vw ridge cadetblue;
    font-size: 1.5vw;
    display:inline-block;
}

.empty{
    display:none !important;
}

#game_demands h1{
    float:left;
    text-align: center;

}
#game_demands .demand{
    text-align: center;
}