body{
    background: white;
}

header{
    background: orange;
    width: 100vw;
    height:5vw;
}

#grid-main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

form{
    grid-column: 3;
}

.user-card{
    float:left;
}

.user-card:hover{
    background:red;
}

.game-active .player-cards{
    background: yellow;
}

.game-active #game-user-hand{
    background: yellow;
}



