body{
    background: white;
}

header{
    background: orange;
    width: 100vw;
    height:5vw;
}

#grid-main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

form{
    grid-column: 3;
}

.user-card,.demand{
    float:left;
}

.user-card:hover{
    background:red;
}

.game-active .player-cards{
    background: yellow;
}

.player-card{ /*overwriting the original cards.css*/
    width: 1.65vw !important;
    height: 2.3vw !important;
    margin-left: -2vw !important; 
}


.player-card:first-child {
    margin-left:0.1vw!important; 
}

.game-active{
    background: orange;
}

.game_user_hand

.card-toggled, .demand-toggled{
    background:red;
}

