{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Macau</title>
    <link rel="stylesheet" type="text/css" href="{% static 'macau/css/cards.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'macau/css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'macau/css/main.css' %}"/>
    
</head>

<body>
    <header>

    </header>
    <div id="grid-main">
        {% block content %}
        {% endblock content %}
    </div>

    <footer>

    </footer>
</body>
</html>